@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* GLOBAL */
body {
    background:#ebe8de;
    border-top:5px solid #75AADB;
    color:#333333;
    font-family: 'Open Sans', sans-serif;
}

input {
    background: #EBE8DE;
    border-radius:5px;
    border:0;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    outline: 0;
    padding: 7px;
    width:250px;
}

input[type=submit]
{
    background: #333333;
    box-shadow: none;
    color: #fff;
    cursor:pointer;
    line-height:25px;
    padding: 5px 18px;
    text-shadow:none;
    width:auto;
}

p {
    line-height:25px;
    margin:5px 0;
}

a {
    color:inherit;
    text-decoration:none;
    transition: color .5s ease;
}

strong {
    font-weight:bold;
}

figcaption strong {
    border-bottom: 1px solid #D6D0C1;
    display:block;
    margin: 10px 0;
    padding-bottom:10px;
}

figcaption {
    font-size:14px;
    line-height: 25px;
    width:200px;
}

hr {
    background-color: #D6D0C1;
    border:0;
    height:1px;
    margin:20px 0;
}

/* HEADER */

header {
    margin: 0 auto 20px auto;
    max-width:999px;
    position:relative;
    width:auto;
}

header h1 {
    color:#FCBF49;
    font-family: 'Cooper Black', cursive;
    font-size:55px;
    margin:35px 0 0 0;
    text-shadow:
    -2px -2px 0 #843511,
    2px -2px 0 #843511,
    -2px 2px 0 #843511,
    2px 2px 0 #843511;
}

/*.textoborde {
    font-family: 'Cooper Black', cursive;
    font-size:55px;
    font-weight:bold;
    -webkit-text-fill-color: #FCBF49;
    -webkit-text-stroke-color: #843511;
    -webkit-text-stroke-width: 0.05em;
}*/

header p {
    color: #3A3380;
    font-family: 'Indie Flower', sans-serif;
    font-size:19px;
    margin-left:90px;
}

nav {
    bottom:0;
    margin-right: -85px;
    position:absolute;
    right:0;
}

nav ul {
    list-style:none;
}

nav ul li {
    display:block;
    float:left;
    padding:3px 10px;
}

nav ul li a {
    color:#408ed6;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform:uppercase;
    transition: all .25s ease;
}

nav ul li a:hover {
    color:#FCBF49;
    font-family: 'Indie Flower', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#mobileMenu {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#mobileMenu ul li {
    background-color: #75AADB;
    border-bottom: 1px solid #408ed6;
    color: #fff;
    display:block;
    letter-spacing: 0.1em;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
}

.toggleMobile {
    display: none;
}

/* 3 COLUMNS */

#boxcontent {
    margin:0 auto;
    max-width:900px;
    padding: 5px 0 20px 0;
    width:auto;
}

#boxcontent article {
    float:left;
    font-size:14px;
    margin-right:45px;
    width:250px;
}

#boxcontent article h3 {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    margin-bottom:10px;
    margin-left:75px;
}

#boxcontent article img {
    float:left;
}

#boxcontent article p {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    margin-left:75px;
}

#slider_content1, #slider_content2, #slider_content3 {
    display:none;
    font-family: 'Open Sans', sans-serif;
    left:2%;
    line-height: 25px;
    position:absolute;
    top:15%;
    width:350px;
    z-index:11;
}

#slider_content1 h3, #slider_content2 h3, #slider_content3 h3 {
    /*background-color:#333333;*/
    background: rgba(51, 51, 51, 0.5);
    border-radius: 15px 0 15px 0;
    color: #EBE8DE;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 6px 6px;
}

#slider_content1 {
    display:block;
}

#slider_content1 p, #slider_content2 p, #slider_content3 p {
    /*background-color:#EBE8DE;*/
    background: rgba(235, 232, 222, .5);
    border-radius: 5px;
    color:#000;
    margin:0 0 30px 0;
    padding:10px 15px;
    width: 245px;
    word-wrap: break-word;
}

/* BUTTONS */

.button {
    background-color: #408ed6;
    background-image: linear-gradient(bottom, #75AADB 0%, #9fc8ee 100%);
    background-image: linear-gradient(to bottom, #9fc8ee 0%, #75AADB 100%);
    border-radius:5px 7px;
    border: 1px solid #408ed6;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    color: #EBE8DE;
    padding: 5px 14px;
    opacity: 0.8;
    text-decoration:none;
    text-shadow: 1px 1px 0 #9fc8ee;
}

.button:hover {
    background: none #EBE8DE;
    border-color: #EBE8DE;
    color: #4A463B;
    text-shadow:none;
}

/* SPACER */

/*
#spacer
{
    width:auto;
    height:70px;
    background-color:#75AADB;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-size:18px;
}

#spacer p
{
    margin-top:22px;
    font-size: 16px;
    width:auto;
    position:absolute;
    left:45%;
    margin-left:-450px;
}

#spacer .search
{
    margin-top:15px;
    width:auto;
    position:absolute;
    right:50%;
    margin-right:-480px;
}
*/


/* FOUR COLUMNS */

#four_columns, #text_columns {
    clear:both;
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    margin:0 auto;
    max-width:900px;
    width:auto;
}

#four_columns h2, #text_columns h3 {
    border-bottom: 1px solid #D6D0C1;
    font-size:20px;
    margin-bottom: 20px;
    padding: 20px 0;
}

#four_columns .img-item {
    float:left;
    margin-right:22px;
}

#four_columns .img-item a {
    display:block;
    position:relative;
}

.thumb-screen {
    background: #000 url(../img/zoom.png) center center no-repeat;
    display:block;
    height:113px;
    left:0;
    opacity: 0;
    position:absolute;
    top:0;
    transition: opacity .5s ease;
    width:100%;
    z-index:99;
}

.thumb-screen:hover {
    opacity:0.5;
}

/* TWO COLUMNS */

#text_columns article.column1, #text_columns .column2 {
    float:left;
    font-size:15px;
    margin: 40px 0;
    max-width: 450px;
    width:auto;
}

#text_columns article#column1_sucesos {
    max-width: 900px;
}

#text_columns .column2 {
    margin: 60px 0;
}

.row {
    float:right;
    margin: 40px 0 0 50px;
    position:relative;
    width:350px;
}

.row img {
    float:left;
}

.row p {
    margin-left: 100px;
}

.rocket, .clock {
    height: 80px;
    left:0;
    position:absolute;
    top:0;
}

.rocket:hover {
    animation-delay: 0ms;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: stylie-transform-keyframes;
    animation-timing-function: linear;
    opacity:0;
    transform-origin: 0 0;
    transition: opacity 0.4s ease 0.2s;
}

.clock:hover {
    animation-delay: 0ms;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: stylie-transform2-keyframes;
    animation-timing-function: linear;
    transform-origin: 0 0;
}

/* FOOTER */

footer {
    background:#333333;
    clear:both;
    height:375px;
    position:relative;
    width:auto;
}

footer .wrapper {
    font-size:14px;
    line-height:25px;
    margin: 0 auto;
    max-width:900px;
    padding-top:30px;
    width:auto;
}

footer .wrapper .column {
    color:#ababab;
    float:left;
    font-family: 'Open Sans', sans-serif;
    margin-right:20px;
    width:280px;
}

footer .wrapper .column.midlist ul li {
    background:url(../img/arrowright2.png) left 6px no-repeat;
    border-bottom: 1px solid #444444;
    display:block;
    margin-bottom:10px;
    padding:0 0 10px 25px;
    width:auto;
}

footer .wrapper .column.midlist ul li a:hover {
    color:#fff;
}

footer .wrapper .column.rightlist ul li {
    display: block;
    margin-bottom:15px;
    width:auto;
}

footer .wrapper .column.rightlist ul li a span {
    display:block;
    margin-left:95px;
}

footer .wrapper .column.rightlist ul li a img {
    border:3px solid #444444;
    float:left;
    max-height: 50px;
    max-width: 28%;
    transition: border .25s ease;
}

footer .wrapper .column.rightlist ul li a img:hover {
    border-color: #5e5e5e;
}

footer .wrapper .column h4 {
    border-bottom: 1px solid #444444;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
}

#copyright {
    background: #1D1D1D;
    bottom:0;
    height:70px;
    left:0;
    position:absolute;
    width:100%;
}

#copyright .wrapper {
    color: #5e5e5e;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    padding-top:25px;
    position:relative;
}

#copyright .wrapper .social {
    position:absolute;
    right:0;
    top:25px;
}

#copyright .wrapper .social a {
    display:block;
    float:left;
    margin-left: 12px;
    opacity: 0.3;
    transition: opacity .25s ease;
}

#copyright .wrapper .social a:hover {
    opacity: 0.7;
}

#copyright .wrapper a {
    color: #ABABAB;
}

#copyright .wrapper a:hover {
    color: #fff;
}

/* SKIPLINK */
.go-top {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 2em;
    color: white;
    display: none;
    font-size: 12px;
    padding: 1em;
    position: fixed;
    right: 2em;
    text-decoration: none;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* SLIDESHOW */
/* Prevent the slideshow from flashing on load */
.slidesjs-container {
    border-top: 1px #d6d0c1 solid;
}

#slides {
    display: none;
    height:auto !important;
    margin-bottom: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align:center !important;
}

#slides img {
    height:340px;
}

/* Center the slideshow */
.container {
    margin: 0 auto;
    position:relative;
    width: 850px;
}

/* Show active item in the pagination */
.slidesjs-pagination .active {
    color:red;
}

#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button {
    color:#000;
    display:none;
}


/* MISC */
.clear {
    clear:both;
}

.hidden {
    clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
    clip: rect(1px, 1px, 1px, 1px);
    position:absolute;
}

/* Initial Contact Form & Contact Form Gracias */

#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0;
}

#form-div {
    background-color: rgba(64, 142, 214, 0.4);
    border: #FCBF49 solid 5px;
    padding: 35px 35px 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
    margin-bottom: 25px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    background-color: #fbfbfb;
    border-radius: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight:500;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 13px 13px 13px 54px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background: #FFF url(../img/name.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

#name:focus{
    background: #FFF url(../img/name.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

#email{
    background: #FFF url(../img/email.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

#email:focus{
    background: #FFF url(../img/email.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

#comment{
    background: #FFF url(../img/comment.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:none;
    width: 100%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: #75AADB;
    border: #FCBF49 solid 5px;
    color: #FFF;
    cursor:pointer;
    float:left;
    font-size:24px;
    font-weight:700;
    margin-top:-4px;
    padding-bottom:22px;
    padding-top:22px;
    width: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #75AADB;
}

.submit:hover {
    color: #75AADB;
}

.ease {
    height: 74px;
    background-color: #fbfbfb;
    width: 0;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}

.submit:hover .ease{
    background-color:#FFF;
    width:100%;
}

.contacto-gracias-p-ok{
    color: #75AADB;
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
    font-weight: 500;
    margin: 1em 1em;
    text-align: center;
}

.contacto-gracias-p-err {
    color: #ff0000;
    font-family: 'Indie Flower', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 1em 1em;
    text-align: center;
}

.contacto-gracias-img-happy img {
    height: 128px;
    left: 40%;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    top: 50%;
    width: 128px;
}

.contacto-gracias-img-sad img {
    height: 128px;
    left: 33%;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    top: 50%;
    width: 128px;
}

.iconos-secciones {
    padding-right: 10px;
}

.subtitulo-enlace {
    color: #335380;
}

.subtitulo-enlace:hover {
    font-family: 'Indie Flower', sans-serif;
    color: #615b99;
    border-bottom: dashed;
}

/* End Contact Form */

/* Initial Sucesos section */

/* FOUR COLUMNS */

#four_columns_sucesos1, #four_columns_sucesos2, #text_columns {
    clear:both;
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    margin:0 auto;
    max-width:900px;
    width:auto;
}

#four_columns_sucesos1 h2, #four_columns_sucesos2 h2, #text_columns h3 {
    border-bottom: 1px solid #D6D0C1;
    font-size:22px;
    margin-bottom: 20px;
    padding: 20px 0;
}

#four_columns_sucesos1 .img-item-sucesos, #four_columns_sucesos2 .img-item-sucesos {
    float:left;
    margin-right:22px;
}

#four_columns_sucesos1 .img-item-sucesos a, #four_columns_sucesos2 .img-item-sucesos a {
    display:block;
    position:relative;
}

.enlace {
    color: #408ed6;
}

.enlace:hover {
    color: #9fc8ee;
    text-decoration: underline;
}

/* End Sucesos section */

/* start revolucion-surgimiento-patria-criolla section*/

.revolucion-surgimiento-patria-criolla {
    clear:both;
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    margin:0 auto 20px auto;
    max-width:900px;
    width:auto;
}

.revolucion-surgimiento-patria-criolla h3 {
    color: #3A3380;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;

}

.revolucion-surgimiento-patria-criolla h4 {
    color: #408ed6;
    font-size: 1.13em;
    font-weight: 500;
    margin: 0.25em 0.25em 0.25em 0;
}

.revolucion-surgimiento-patria-criolla p, ul li, ol li {
    font-size: 1.1em;
}

.revolucion-surgimiento-patria-criolla ul {
    list-style-type: square;
    background: #e1ded4;
    padding: 20px;
}

.revolucion-surgimiento-patria-criolla ol {
    list-style-type: lower-roman;
    background: #e1ded4;
    padding: 20px;
}

.revolucion-surgimiento-patria-criolla ol ol{
    list-style-type: lower-alpha;
    background: #e1ded4;
    padding: 20px;
}

.revolucion-surgimiento-patria-criolla ul li, ol li {
    background: #E4E4E4;
    padding: 5px;
    margin-left: 35px;
}

.revolucion-surgimiento-patria-criolla p::first-letter {
    font-size: 200%;
    color: #FCBF49;
}

.revolucion-surgimiento-patria-criolla hr {
    border-bottom: groove;
}


/* end revolucion-surgimiento-patria-criolla section*/

/* start libros-recomendados section*/

#libros-recomendados {
    clear:both;
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    margin:0 auto 20px auto;
    max-width:900px;
    width:auto;
}

#libros-recomendados h3 {
    color: #3A3380;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;

}

#libros-recomendados h4 {
    color: #408ed6;
    font-size: 1.13em;
    font-weight: 500;
    margin: 0.25em 0.25em 0.25em 0;
}

#libros-recomendados p, ul li {
    font-size: 1.1em;
}

#libros-recomendados ul {
    list-style-type: square;
    background: #e1ded4;
    padding: 20px;
}

#libros-recomendados ul li {
    background: #E4E4E4;
    padding: 5px;
    margin-left: 35px;
}

#libros-recomendados li::first-letter {
    font-size: 125%;
    color: #843511;
}

#libros-recomendados hr {
    border-bottom: groove;
}


/* end libros-recomendados section*/

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */
@media (min-width: 1216px)
{
    #four_columns_sucesos2 {
        padding-top: 20px;
    }
}
@media (max-width: 1215px)
{
    header h1 {
        margin-left: 20px;
    }

    #slider_content1, #slider_content2, #slider_content3 {
        margin-right:50px;
        width:50%;
    }

    #slider_content1 h2, #slider_content2 h2, #slider_content3 h2 {
        font-size:18px;
    }

    #slider_content1 p, #slider_content2 p, #slider_content3 p {
        font-size:14px;
        width: 15em;
        word-wrap: break-word;
    }

    #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button {
        display:inline;
    }

    .container .button {
        display:none;
    }

    #four_columns_sucesos2 {
        padding-top: 20px;
    }
}

@media (max-width: 915px)
{
    #boxcontent article {
        float: none;
        margin: 30px auto 0 auto;
        width: 60%;
    }

    .titulo {
        display: inline-block;
    }

    .titulo p {
        font-size: 15px;
    }

    header nav {
        margin-right: 160px;
        top: 90px;
    }
    /*#spacer
    {
        font-size:15px;
    }
    #spacer .search
    {
        margin-top:19px;
        margin-right:-385px;
    }
    #spacer p
    {
        margin-left:-370px;
        font-size: 15px;
    }*/
    #slider_content1 p, #slider_content2 p, #slider_content3 p {
        font-size:14px;
        padding:4px 12px;
        width: 360px;
        word-wrap: break-word;
    }

    input {
        font-size:14px;
        padding:4px;
    }

    input[type="submit"] {
        padding: 1px 14px;
    }

    #four_columns {
        width: 500px;
    }

    #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4) {
        margin-top: 25px;
    }

    #text_columns article.column1, #text_columns .column2 {
        float:none;
        margin: 35px 30px 0 30px;
        max-width: 500px;
    }

    #libros-recomendados article.column1 {
        float:none;
        margin: 35px 30px 0 30px;
        max-width: 500px;
    }

    .column2 .row {
        float:none;
        margin:0 0 40px 50px;
    }

    footer .wrapper .column {
        font-size: 12px;
        width: 230px;
    }

    #four_columns_sucesos1, #four_columns_sucesos2 {
        width: 500px;
    }

    #four_columns_sucesos1 .img-item-sucesos:nth-of-type(3), #four_columns_sucesos1 .img-item-sucesos:nth-of-type(4) {
        margin-top: 25px;
    }

    #four_columns_sucesos2 .img-item-sucesos:nth-of-type(3), #four_columns_sucesos2 .img-item-sucesos:nth-of-type(4) {
        margin-top: 25px;
    }

    .revolucion-surgimiento-patria-criolla {
        margin: 35px 30px 0 30px;
    }
}

@media (max-width: 765px)
{
    .container {
        height:1px;
        top: -1500px;
    }

    header {
        height:120px;
    }

    header nav {
        margin-right: 160px;
        top: 90px;
    }

    nav ul li {
        display:block;
        float:left;
        padding:4px 5px;
    }

    .titulo {
        display: inline-block;
    }

    .titulo p {
        font-size: 15px;
    }

    nav ul li a {
        font-size: 11px;
    }

    nav ul li a:hover {
        font-size: 12px;
        font-weight: bold;
    }

    /*
       #spacer
       {
           height:100px;
       }
       #spacer p
       {
           text-align:center;
           font-size: 14px;
           position:static;
           margin: 0 auto;
           padding:15px 0 7px 0;
       }
       #spacer .search
       {
           text-align:center;
           position:static;
           margin: 0 auto;
       }*/
    /*#slider_content1 p, #slider_content2 p, #slider_content3 p
    {
        font-size:14px;
        width: 350px;
        word-wrap: break-word;
    }*/

    footer {
        height: auto;
        padding-bottom:70px;
    }

    footer .wrapper {
        margin: 0 auto;
        width: 350px;
    }

    footer .wrapper .column {
        float:none;
        font-size: 14px;
        margin-top:30px;
        width: auto;
    }

    footer .wrapper .social {
        display:none;
    }

    .revolucion-surgimiento-patria-criolla {
        margin: 35px;
    }
}

@media (max-width: 600px)
{
    header {
        margin-top: 0;
        text-align: center;
    }

    /*#spacer
    {
        height:auto;
        padding-bottom:15px;
    }*/

    #slider_content1 p, #slider_content2 p, #slider_content3 p {
        display: none;
    }

    #boxcontent article {
        font-size:1.1em;
    }

    #boxcontent article h3 {
        font-size:1.3em;
    }

    #four_columns {
        width:auto;
    }

    #four_columns .img-item {
        float:none;
        margin: 25px auto 0 auto;
        width: 200px;
    }

    #four_columns h2 {
        margin: 0 30px;
    }

    .column2 .row {
        margin: 0 0 40px 10px;
        width:auto;
    }

    .column1 p, .column2 p {
        font-size: 1.2em;
    }

    #text_columns article#column1_sucesos {
        padding-bottom: 1.7em;
    }

    #libros-recomendados article{
        padding-bottom: 1.7em;
    }

    figcaption {
        font-size: 1.1em;
    }

    footer .wrapper {
        width:auto;
    }

    footer .wrapper .column {
        margin: 0 auto 15px auto;
        max-width:300px;
    }

    input {
        width:auto;
    }

    #mobileMenu {
        display: block;
        z-index: 99;
    }

    .toggleMobile {
        cursor: pointer;
        display: block;
        height: 36px;
        left: 10px;
        position: fixed;
        top: 10px;
        width: 40px;
        z-index: 999;
    }

    .toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3 {
        background: #FCBF49;
        display: block;
        height: 8px;
        left: 0;
        position: absolute;
        transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        width: 40px;
    }

    .toggleMobile span.menu1 {
        top: 0;
    }

    .toggleMobile span.menu2 {
        top: 14px;
    }

    .toggleMobile span.menu3 {
        top: 28px;
    }

    .toggleMobile.active span.menu1 {
        top: 14px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    }

    .toggleMobile.active span.menu2 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    }

    .toggleMobile.active span.menu3 {
        opacity: 0;
        -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    }

    header nav {
        display:none;
    }

    header h1 {
        font-size:40px;
    }

    header p {
        font-size:14px;
        margin-left: 45px;
    }

    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }

    .contacto-gracias-img-happy img {
        left: 40%;
        width: 100px;
        height: 100px;
    }

    .contacto-gracias-img-sad img {
        left: 15%;
        width: 100px;
        height: 100px;
    }

    .contacto-gracias-p-ok{
        line-height: 40px;
        font-size: 1.9em;
        font-weight: 400;
    }

    .contacto-gracias-p-err {
        font-size: 1.8em;
        font-weight: 400;
    }

    #four_columns_sucesos1, #four_columns_sucesos2 {
        padding-top: 0;
        width:auto;
    }

    #four_columns_sucesos1 .img-item-sucesos, #four_columns_sucesos2 .img-item-sucesos {
        float:none;
        margin: 25px auto 0 auto;
        width: 200px;
    }

    #four_columns_sucesos1 h2, #four_columns_sucesos2 h2 {
        margin: 0 30px;
    }

    #four_columns_sucesos1 figcaption, #four_columns_sucesos2 figcaption {
        font-size: 1.1em;
    }
}

/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
    0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
    0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}

/* Contact Form Styles */
/*html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
    background-size: cover;
    height:100%;
}
*/